.contacto-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: #030E1F;
    color: white;
    border-radius: 8px;
    gap: 10px;
}

.contacto-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contacto-form input,
.contacto-form select,
.contacto-form textarea {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}

.contacto-form textarea {
    min-height: 100px;
    resize: vertical;
}

.contacto-form button {
    margin-top: 15px;
    padding: 12px;
    background: #011d47;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contacto-form button:hover {
    background: #bd9453;
}

/* ====== POPUP ====== */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-content {
    background: url(./imgs/backgroundGeneral.jpg);
    color: #bd9453;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}